<!DOCTYPE html>
<html>

<head>
    <title>fibonnacci</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container overflow-hidden ">
        <center>
            <h1>Кодирование и декодирование Фибонначи</h1>
        </center>
        <div class="row gy-4">
            <div class="col-lg-12">
                <p>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </p>
                <div>
                    <form method="post" action="/upload" enctype="multipart/form-data" class="form-inline">
                        <div class="input-group mb-3">
                            <input type="file" name="files[]" id="fileInput" class="form-control" multiple>
                            <input type="submit" name="submit" class="btn btn-primary" value="Загрузить" />
                        </div>


                    </form>
                </div>

                <br>
                <form class="row g-3">
                    <div class="col align-self-start">
                        <button type="submit" name="submit" id="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Выполнить </button>
                    </div>

                    <div class="col align-self-end">
                        <textarea class="form-control" id="N" rows="2"></textarea>
                    </div>
                </form>

                <div id='loader' style='display: none;'>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Процесс выполняется...</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <div class="spinner-border" id="spin" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                            <div class='response'></div>
                                        </div>
                                    </div>
                                    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>




            </div>
            <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label"><h5>Десятичный вид</h5></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="12">{{data_dec}}</textarea>
            </div>
            <div class="col-md-6">
                <label for="exampleFormControlTextarea2" class="form-label"><h5>Битовый вид</h5></label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="12">{{data_bin}}</textarea>
            </div>

            <div class="col-md-6" style="margin-bottom:20px; ">
                <label for="exampleFormControlTextarea3" class="form-label"><h5>Кодирование Фибонначи</h5></label>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="12"></textarea>
            </div>
            <div class="col-md-6" style="margin-bottom:20px; ">
                <label for="exampleFormControlTextarea4" class="form-label"><h5>Декодирование Фибонначи</h5></label>
                <textarea class="form-control" id="exampleFormControlTextarea4" rows="12"></textarea>
            </div>
            <a href="/download" class="btn btn-primary">Cкачать</a>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            // File type validation
            $("#fileInput").change(function() {
                var fileLength = this.files.length;
                var i;
                for (i = 0; i < fileLength; i++) {
                    var file = this.files[i];
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#submit').click(function(event) {
                var insert = [];
                $('#exampleFormControlTextarea1').each(function() {
                    insert.push($(this).val());
                });
                insert = insert.toString();
                var insert_string = 'checkboxvalue=' + insert;
                $.ajax({
                        type: 'POST',
                        url: '/insert',
                        data: insert_string,
                        cache: false,
                        beforeSend: function() {
                            // Show image container
                            $('#successAlert').hide();
                            $("#loader").show();
                            $("#spinner-border").show();
                            $("#spin").show();
                        },
                        success: function(response) {
                            $('.response').empty();
                            $('.response').append(response);
                        },
                        complete: function(data) {
                            // Hide image container
                            $("#spin").hide();
                        }
                    })
                    .done(function(data) {
                        $('#successAlert').text(data.success).show();
                        $('#exampleFormControlTextarea3').text(data.Encode_Bytes).show();
                        $('#exampleFormControlTextarea4').text(data.Decode_Bytes).show();
                        $('#N').text(data.N).show();
                    });

                event.preventDefault();
            });
        });
    </script>
</body>

</html>